<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265138363233-sgmfb3e4ag4927edq79tk7hiov2mphlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265138363233-sgmfb3e4ag4927edq79tk7hiov2mphlr</string>
	<key>API_KEY</key>
	<string>AIzaSyBBS2Wukj-4AIf0VB2GVXPVeIijPhKkZlE</string>
	<key>GCM_SENDER_ID</key>
	<string>265138363233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>papdiew.app</string>
	<key>PROJECT_ID</key>
	<string>my-app-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265138363233:ios:fce64fd63bfd3dd0034320</string>
</dict>
</plist>